<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.git.hitzaki.education.biz.auth.mapper.AdminAccountInfoMapper">

    <select id="adminPage" resultType="com.git.hitzaki.education.model.auth.vo.AdminVo">
        SELECT
        aai.*
        FROM admin_account_info aai
        WHERE
        aai.delete_flag = 0
        <if test="param.account != null">
            AND aai.account = #{param.account}
        </if>
        <if test="param.nickName != null">
            AND aai.nick_name = #{param.nickName}
        </if>
    </select>
</mapper>
