<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.git.hitzaki.education.biz.course.mapper.CourseUserMappingMapper">


    <select id="queryRecentlyCourseId" resultType="java.lang.Long"
            parameterType="java.lang.Long">
        select course_id from course_user_mapping
        where delete_flag = 0 and user_id=#{id}
        order by last_view desc
        limit 1
    </select>
    <select id="pageQueryMyCouser"
            resultType="com.git.hitzaki.education.biz.course.entity.CourseUserMappingEntity">
        select * from course_user_mapping
        where delete_flag = 0 and user_id = #{condition.userId} and status = 0
        group by course_id
        order by last_view desc
    </select>

</mapper>
