<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.git.hitzaki.education.biz.auth.mapper.PermissionMapper">

    <select id="selectPermissionByUserId" resultType="java.lang.String">
        SELECT
        pe.code
        FROM user_role ur
        LEFT JOIN role tr
        ON tr.id = ur.role_id
        LEFT JOIN role_permission rp
        ON rp.role_id = tr.id
        LEFT JOIN permission pe
        ON pe.id = rp.permission_id
        WHERE
        ur.user_id = #{userId}
        AND tr.delete_flag = 0
        AND pe.delete_flag = 0
    </select>

    <select id="permissionPage" resultType="com.git.hitzaki.education.model.auth.vo.PermissionVo">
        SELECT
          pe.*
        FROM permission pe
        WHERE
        pe.delete_flag = 0
        <if test="param.code != null and param.code != ''">
            AND pe.code = #{param.code}
        </if>
        <if test="param.name != null and param.name != ''">
            AND pe.name = #{param.name}
        </if>
    </select>

    <select id="rolePermissionPage" resultType="com.git.hitzaki.education.model.auth.vo.PermissionVo">
        SELECT
        rp.id AS id, rp.update_time,
        pe.id AS permissionId, pe.code, pe.name,
        IF(rp.role_id IS NOT NULL, true, false) AS isBind
        FROM permission pe
        LEFT JOIN role_permission rp ON pe.id = rp.permission_id AND rp.role_id = #{param.roleId} AND rp.delete_flag = 0
        WHERE
        pe.delete_flag = 0
        <if test="param.code != null and param.code != ''">
            AND pe.code = #{param.code}
        </if>
        <if test="param.name != null and param.name != ''">
            AND pe.name = #{param.name}
        </if>
    </select>

    <insert id="insertOrUpdateRolePermission">
        INSERT INTO role_permission (id, role_id, permission_id, delete_flag, create_time, update_time)
        VALUES (#{param.id}, #{param.roleId}, #{param.permissionId}, 0, NOW(), NOW())
        ON DUPLICATE KEY UPDATE
        delete_flag = 0,
        update_time = NOW()
    </insert>

</mapper>
