<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.git.hitzaki.education.biz.auth.mapper.RoleMapper">

    <select id="selectRoleByUserId" resultType="java.lang.String">
        SELECT
          tr.role_code
        FROM user_role ur
        LEFT JOIN role tr
          ON tr.id = ur.role_id
        WHERE
          ur.user_id = #{userId}
          AND tr.delete_flag = 0
    </select>

    <select id="rolePage" resultType="com.git.hitzaki.education.model.auth.vo.RoleVo">
        SELECT
        ro.*
        FROM role ro
        WHERE
        ro.delete_flag = 0
        <if test="param.code != null and param.code != ''">
            AND ro.role_code = #{param.code}
        </if>
        <if test="param.name != null and param.name != ''">
            AND ro.role_name = #{param.name}
        </if>
    </select>

    <select id="userRolePage" resultType="com.git.hitzaki.education.model.auth.vo.RoleVo">
        SELECT
        ur.id AS id, ur.update_time,
        ro.role_name, ro.role_code,
        IF(ur.user_id IS NOT NULL, true, false) AS isBind
        FROM role ro
        LEFT JOIN user_role ur ON ro.id = ur.role_id AND ur.user_id = #{param.userId} AND ur.delete_flag = 0
        WHERE
        ro.delete_flag = 0
        <if test="param.code != null and param.code != ''">
            AND ro.role_code = #{param.code}
        </if>
        <if test="param.name != null and param.name != ''">
            AND ro.role_name = #{param.name}
        </if>
    </select>

    <insert id="insertOrUpdateUserRole">
        INSERT INTO user_role (id, user_id, role_id, delete_flag, update_time, create_time)
        VALUES (#{param.id}, #{param.userId}, #{param.roleId}, 0, NOW(), NOW())
        ON DUPLICATE KEY UPDATE
        delete_flag = 0,
        update_time = NOW()
    </insert>

</mapper>
